#ticket-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    font-size: 4rem;
}

#ticket-price::before {
    content: 'Prezzo Biglietto:';
    font-size: 3rem;

} 

#ticket-price::after {
    content: '\20AC';
} 